---
import { SECTIONS } from "../../constants";
import Layout from "../../layouts/Layout.astro";
export function getStaticPaths() {
  const props = SECTIONS.map((section) => {
    return {
      params: {
        name: section.title,
      },
    };
  });
  return props;
}

const { name } = Astro.params;
---

<Layout title="Productos">
  <h1>{name}</h1>
</Layout>
