---
import { SECTIONS } from "../../constants";
import { PRODUCTS } from "../../constants";
import ListOfProducts from "../../components/ListOfProducts.astro";
import HeaderProducts from "../../components/HeaderProducts.astro";

import Layout from "../../layouts/Layout.astro";
import Galery from "../../components/Galery.astro";
import Work from "../../components/Work.astro";
export function getStaticPaths() {
  const props = SECTIONS.map((section) => {
    return {
      params: {
        type: section.type,
      },
    };
  });
  return props;
}
const { type } = Astro.params;
const productsFiltered = PRODUCTS.filter((product) => product.type == type);
---

<Layout title="Productos">
  <HeaderProducts type={type} />
  <section class="px-phone py-10">
    <ListOfProducts products={productsFiltered} />
  </section>
  <Work type={type} />
</Layout>
