<section
  id="empresa"
  class="relative bg-[url('/public/images/negocio.jpg')] bg-cover bg-center"
>
  <div
    class="text-white z-[100] w-full px-phone bg-[var(--color-shadow-1)] flex flex-col py-20"
  >
    <div class="sm:max-w-2xl sm:mx-auto w-full">
      <h2 class="font-bold text-2xl">Sobre nosotros</h2>
      <p class="text-gray-200 pt-4">
        <span class="font-bold text-rainbow">Mamparas esmeralda</span> es una empresa
        fundada por emigrantes italianos en
        <span class="font-bold text-rainbow">Buenos Aires en 1914</span>,
        dedicada a la industria del vidrio procesado.
      </p>
      <p class="text-gray-200 pt-4">
        <span class="font-bold text-rainbow"
          >Con cuatro generaciones de experiencia</span
        >, nos destacamos por nuestra calidad en el producto y eficiencia en el
        servicio.
      </p>
      <p class="text-gray-200 pt-4">
        Nuestro legado se refleja en <span class="font-bold text-rainbow"
          >innumerables obras realizadas</span
        >, y seguimos comprometidos con el crecimiento y desarrollo continuo de
        la industria del vidrio en Argentina.
      </p>
      <h2 class="font-bold text-2xl mb-6 mt-12">Nuestro local</h2>
      <div class="rounded-[var(--border)] overflow-hidden">
        <iframe
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1586.445920119001!2d-59.13572512299036!3d-37.32138963437758!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95911f8e22f18801%3A0xa1ef29ffeb608b55!2sGral.%20Paz%20890%2C%20B7000%20Tandil%2C%20Provincia%20de%20Buenos%20Aires!5e0!3m2!1ses!2sar!4v1713914879321!5m2!1ses!2sar"
          height="400"
          style="border:0;"
          class="w-full"
          allowfullscreen=""
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade"></iframe>
      </div>
    </div>
  </div>
</section>
