<section class="h-[80vh] fondo">
  <div
    class="pt-20 z-[100] w-full h-full px-[var(--px-sm)] bg-[var(--color-shadow-1)] flex flex-col items-center justify-center"
  >
    <h1 class="text-3xl text-white font-bold mb-4">
      <span>Transforma</span> tu Espacio con Mamparas de Vidrio
    </h1>
    <h2 class="text-[#eee]">
      Estilo, elegancia y funcionalidad para tus espacios con nuestras mamparas
      de vidrio a medida.
    </h2>
    <a
      href=""
      class="shadow-xl mt-20 bg-gradient-to-tr from-slate-600 to-[var(--color-primary)] text-white py-2 w-full text-center rounded-[var(--border)]"
      >contactanos</a
    >
  </div>
</section>
<style>
  .fondo {
    background-image: url("https://images.hola.com/imagenes/decoracion/20240104245477/mamparas-de-bano-a-medida-o-estandar-am/1-352-347/mampara-a-medida-17m-m.jpg?tx=w_680");
    background-size: cover;
    background-repeat: no-repeat;
  }
</style>
