---
import MenuBar from "./icons/MenuBar.astro";
---

<header class="px-[var(--px-sm)] flex justify-between items-center">
  <div>
    <img src="/public/images/logo.png" class="max-h-[10vh]" alt="" />
  </div>
  <div>
    <MenuBar />
  </div>
</header>
