---
import { SECTIONS } from "../constants";
---

<div class="flex flex-col gap-4">
  {
    SECTIONS.map((section) => {
      const type = section.type;
      const title = section.title;
      const url = section.url;
      return (
        <a
          href={`productos/${type}`}
          class="rounded-[var(--border)] shadow-xl overflow-hidden bg-cover bg-center cursor-pointer"
          style={`background-image: ${url}`}
        >
          <div class="bg-[var(--color-shadow-2)] h-72 flex justify-center items-center">
            <h4 class="text-white text-lg uppercase">{title}</h4>
          </div>
        </a>
      );
    })
  }
</div>
