---
import ListOfSections from "../components/ListOfSection.astro"
---

<section class="px-[var(--px-sm)] pb-20">
  <h3 class="text-[#333] text-center my-10 text-sm">
    Productos y sistemas de vidrio para arquitectura, ingeniería y decoración
  </h3>
  <ListOfSections/>
</section>

