---
import ListOfSections from "../components/ListOfSection.astro"
---

<section class="relative px-[var(--px-sm)] pb-10">
  <div class="absolute top-0 left-0 z-[-2] h-screen w-screen bg-white bg-[radial-gradient(100%_50%_at_50%_0%,rgba(0,255,128,0.08)_0,rgba(0,163,255,0)_50%,rgba(0,163,255,0)_100%)]"></div>
  <h3 class="text-[#333] text-center py-10 text-sm">
    Productos y sistemas de vidrio para arquitectura, ingeniería y decoración
  </h3>
  <ListOfSections/>
</section>

<style>
  .a{
    color:rgba(0, 255, 128, 0.1);
  }
</style>