---
import ListOfSections from "./ListOfSection.astro";
import Container from "./Container.astro";
---

<Container>
  <h3 class="text-[#333] text-center mb-10 text-sm">
    Productos y sistemas de vidrio para arquitectura, ingeniería y decoración
  </h3>
  <ListOfSections />
</Container>
