---
import Container from "./Container.astro";
---

<Container
  height="80vh"
  backgroundUrl="/images/mamparas/principal.webp"
  className="pb-0 pt-20"
>
  <div
    class="h-full w-full flex flex-col items-center justify-center sm:max-w-2xl sm:mx-auto"
  >
    <h1 class="text-3xl sm:text-4xl text-white font-bold mb-4">
      <span class="text-rainbow">Transforma tu Espacio </span> con Mamparas de Vidrio
    </h1>
    <h2 class="text-[#eee]">
      Estilo, elegancia y funcionalidad para tus espacios con nuestras mamparas
      de vidrio a medida.
    </h2>
    <a
      href="/#contacto"
      class="shadow-xl mt-20 bg-gradient-to-tr from-slate-600 to-[var(--color-primary)] text-white py-2 w-full text-center rounded-lg"
      >contactanos</a
    >
  </div>
</Container>
