---
import IconWhatsapp from "./icons/IconWhatsapp.astro";
---

<div
  class="fixed right-0 cursor-pointer transition-[0.5s] bottom-6 p-2 bg-[#1FAF3899] hover:bg-[#1FAF38] hover:scale-[1.3] z-[100] rounded-l-full"
>
  <IconWhatsapp />
</div>
